@import url("../../../assets/font/stylesheet.css");

/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:focus,
a:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: auto auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #f3efea;
}

/* Конец обнуления */

/* MAIN */

.header-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* HEADER */

.header {
  background-color: black;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-svg-icon {
  margin-right: 50px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.list-address {
  display: flex;
}

.btn-header {
  margin-right: 164px;
  display: flex;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.address {
  display: flex;
  align-items: center;
}

.list-address {
  gap: 40px;
  align-items: center;
}

.burger-menu {
  display: none;
}

.link-item {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.address-link {
  margin-left: 10px;
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.address-link-phone {
  font-weight: 800;
}

.list-address-link {
  display: flex;
  align-items: center;
}

.btn-address {
  margin-left: 40px;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media screen and (min-width: 1600px) and (max-width: 1845px) {
  .btn-header {
    margin-right: 76px;
  }
  .link-item {
    font-size: 14px;
  }
  .address-link {
    font-size: 14px;
  }
  .list {
    gap: 30px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .header-svg-icon {
    margin-right: 50px;
  }
  .list {
    gap: 30px;
  }

  .btn-header {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
  }

  .list-address {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    margin-right: 36px;
  }

  .btn-address {
    display: flex;
    width: 122px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .header {
    padding: 0;
  }
  .link-item,
  .address-link,
  .btn-header,
  .btn-address {
    font-size: 9.375px;
  }
  .list {
    gap: 25px;
  }
  .list-address {
    gap: 25px;
  }
  .header-svg-icon {
    width: 54.107px;
    height: 37.5px;
  }
  .btn-address {
    padding: 6.25px 14.875px;
    margin-left: 15px;
  }
  .btn-header {
    padding: 6.25px 21.875px;
  }
  .btn-header {
    margin-right: 26px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .header {
    padding: 0 16px;
  }
  .burger-menu {
    display: flex;
    align-items: center;
  }
  .nav-item {
    display: none;
  }
  .address-link {
    font-size: 12px;
  }
  .list-address {
    display: flex;
    flex-direction: column;
  }
  .header-svg-icon {
    width: 62px;
    height: 43px;
  }
  .btn-address {
    display: none;
  }
  .list-address {
    align-items: start;
    gap: 10px;
    margin-right: 60px;
  }
  .header-svg-icon {
    margin-right: 46px;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .header {
    /* height: 74px; */
  }
  .burger-menu {
    display: flex;
    align-items: center;
  }
  .nav-item {
    display: none;
  }
  .address-link {
    font-size: 10px;
  }
  .list-address {
    display: flex;
    flex-direction: column;
  }
  .header-svg-icon {
    width: 62px;
    height: 43px;
  }
  .btn-address {
    display: none;
  }
  .list-address {
    align-items: start;
    margin-right: 26px;
    gap: 10px;
  }
  .header-svg-icon {
    margin-right: 26px;
  }
}

/* HERO */

.hero {
  width: 100%;
  height: 100%;
  background: url("../../../assets/image/man.png") lightgray 50% / cover
    no-repeat ;
}

.hero-text {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 245px;
  padding-top: 137px;
}

.btn-hero {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  margin-left: 245px;
  margin-top: 50px;
  margin-bottom: 137px;
}

.footer-hero {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.list-hero {
  display: flex;
  gap: 190px;
}

.num-svg-icon-item {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 5px;
}

.text-svg {
  color: #fff;
  text-transform: uppercase;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-list-item {
  display: flex;
  gap: 10px;
}

.svg-hero {
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 999px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .hero-text {
    font-size: 62px;
    padding-top: 1px;
    padding-bottom: 30px;
    width: 1100px;
  }
  .btn-hero {
    padding: 10px 45px;
    margin: 0;
    margin-left: 240px;
    margin-bottom: 40px;
  }
  .list-hero {
    gap: 154px;
  }
  .svg-hero {
    padding: 17px 17px;
  }
  .num-svg-icon-item {
    font-size: 25px;
  }
  .text-svg {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .hero-text {
    font-size: 45px;
    padding-left: 130px;
    padding-top: 100px;
  }
  .btn-hero {
    padding: 6.25px 34.375px;
    font-size: 15.625px;
    margin-top: 31px;
    margin-left: 130px;
  }
  .num-svg-icon-item {
    font-size: 15.625px;
  }
  .text-svg {
    font-size: 12.5px;
  }
  .svg-hero-house {
    width: 9.375px;
    height: 12.5px;
  }
  .svg-hero-check {
    width: 10.938px;
    height: 12.5px;
  }
  .svg-hero {
    padding: 14px 16px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .section-hero {
    margin: 0 auto;
  }
  .hero-text {
    font-size: 40px;
    width: 361px;
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .btn-hero {
    display: flex;
    margin: 0 auto;
    width: 361px;
    padding: 20px 21.875px;
  }
  .footer-hero {
    height: 117px;
  }
  .list-hero {
    flex-direction: column;
    gap: 16px;
  }
  .num-svg-icon-item {
    font-size: 16px;
  }
  .text-svg {
    font-size: 12px;
  }
  .svg-hero {
    padding: 12.5px 12.5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .hero-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    height: 100%;
  }
  .hero-text {
    font-size: 32px;
    width: 286px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .btn-hero {
    display: flex;
    margin: 0 auto;
    width: 286px;
    padding: 12px 14.875px;
  }
  .footer-hero {
    padding: 0 8px;
    height: 117px;
  }
  .list-hero {
    flex-direction: column;
    gap: 8px;
  }
  .num-svg-icon-item {
    font-size: 14px;
  }
  .text-svg {
    font-size: 10px;
  }
  .svg-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12.5px 12.5px;
  }
}

/* PROJECT GALLERY */

.project-gallery-section {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.gallery-item {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}

.project-gallery-list-inst-yan {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 200px;
  margin-bottom: 12px;
}

.project-gallery-list-follow {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.project-gallery-list-yan-name {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 12.5px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.text-gallery {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.gallery-text {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 350px;
}

.gallery-item-text {
  display: flex;
  gap: 414px;
}

.list-gallery-top {
  display: flex;
  gap: 24px;
}

.list-gallery-item {
  margin-top: -48px;
  display: flex;
  gap: 24px;
  margin-left: 580px;
}

.list-gallery-item li:last-child {
  margin-left: 290px;
}

.gallery-img {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.gallery-image-bottom {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.gallery-text-image-button {
  display: flex;
}

.gallery-icon-svg {
  fill: #000;
}

.gallery-text-bottom {
  margin-left: 170px;
  margin-top: -200px;
  width: 412px;
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-gallery-text {
  margin-top: 150px;
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  margin-left: 320px;
}

/* MOBILE-GALLERY */

.mobile-gallery {
  padding: 0 8px;
}

.mobile-project-gallery-list-inst-yan {
  margin-top: 150px;
  display: flex;
  justify-content: start;
}

.list-container {
  max-width: 393px;
}

.mobile-gallery-title {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 6px;
}

.mobile-gallery-text {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.mobile-gallery-p {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  width: 361px;
}

.mobile-gallery-img {
  display: flex;
  gap: 14px;
  align-items: center;
}

.mobile-img-last {
  margin-top: -140px;
}

.mobile-gallery-p-img {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 172px;
}

.mobile-gallery-btn {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: "Neue Machina";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  width: 173px;
  padding: 20px 21.875px;
  justify-content: center;
  align-items: center;
  gap: 6.25px;
  border-radius: 1.25px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
  margin-right: 148px;
}
/* MOBILE-GALLERY */

/* DESKTOP-GALLERY */

@media screen and (min-width: 1600px) and (max-width: 1720px) {
  .list-gallery-top img {
    width: 220.488px;
    height: 220.488px;
    flex-shrink: 0;
  }
  .list-gallery-top {
    gap: 16px;
  }
  .list-gallery-top {
    gap: 16px;
  }
  .list-gallery-item img {
    width: 220.488px;
    height: 220.488px;
    flex-shrink: 0;
  }
  .list-gallery-item {
    gap: 16px;
    margin-top: -80px;
  }
  .list-gallery-item {
    margin-bottom: 20px;
    margin-left: 488px;
  }
  .list-gallery-item li:last-child {
    margin-left: 240px;
  }
  .gallery-img img {
    width: 220.488px;
    height: 220.488px;
    flex-shrink: 0;
  }
  .gallery-img {
    gap: 16px;
    margin-top: 16px;
    margin-left: 16px;
  }
  .gallery-image-bottom img {
    width: 220.488px;
    height: 220.488px;
    flex-shrink: 0;
  }
  .gallery-image-bottom {
    margin-left: 14px;
    gap: 16px;
  }
  .gallery-item-text {
    gap: 270px;
  }
  .gallery-text {
    width: 397px;
  }
  .gallery-text-bottom {
    margin-left: 34px;
  }
  .button-gallery-text {
    margin-left: 160px;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .list-gallery-top img {
    width: 192.488px;
    height: 192.488px;
    flex-shrink: 0;
  }
  .list-gallery-top {
    gap: 16px;
  }
  .list-gallery-top {
    gap: 16px;
  }
  .list-gallery-item img {
    width: 192.488px;
    height: 192.488px;
    flex-shrink: 0;
  }
  .list-gallery-item {
    gap: 16px;
  }
  .list-gallery-item {
    margin-top: -74px;
    margin-left: 418px;
  }
  .list-gallery-item li:last-child {
    margin-left: 210px;
  }
  .gallery-img img {
    width: 192.488px;
    height: 192.488px;
    flex-shrink: 0;
  }
  .gallery-img {
    gap: 16px;
    margin-top: 16px;
  }
  .gallery-image-bottom img {
    width: 192.488px;
    height: 192.488px;
    flex-shrink: 0;
  }
  .gallery-image-bottom {
    gap: 16px;
  }
  .gallery-item-text {
    gap: 170px;
  }
  .gallery-text {
    width: 297px;
    font-size: 15px;
  }
  .gallery-text-bottom {
    margin-left: 100px;
    font-size: 15px;
    margin-top: -140px;
    width: 309px;
  }
  .button-gallery-text {
    margin-left: 160px;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .project-gallery-section {
    padding: 0 62px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-gallery-top img,
  .list-gallery-item img,
  .gallery-img img,
  .gallery-image-bottom img {
    width: 166.875px;
    height: 166.875px;
    flex-shrink: 0;
  }
  .project-gallery {
    margin-left: 0;
  }
  .gallery-item-text {
    gap: 282px;
  }
  .gallery-text-bottom {
    margin-left: 100px;
    margin-top: -120px;
    width: 257.5px;
    font-size: 12.5px;
  }
  .project-gallery-list-inst-yan {
    margin-left: 0;
  }
  .button-gallery-text {
    margin-top: 60px;
    margin-left: 200px;
    font-size: 15.625px;
    padding: 6.25px 34.375px;
  }
  .gallery-item {
    font-size: 32.5px;
  }
  .text-gallery {
    font-size: 12.5px;
  }
  .gallery-text {
    font-size: 12.5px;
    width: 247.5px;
  }
  .list-gallery-top {
    margin-top: 20px;
  }
  .list-gallery-item {
    margin-top: 0px;
    margin-left: 380px;
  }
  .list-gallery-item li:last-child {
    margin-left: 188px;
  }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .project-gallery-section {
    display: none;
  }
  .mobile-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
  }
  .mobile-gallery-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-gallery-img img {
    width: 144px;
    height: 144px;
  }

  .mobile-project-gallery-list-inst-yan {
    display: flex;
    justify-content: start;
  }

  .mobile-gallery-title {
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: "Neue Machina";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 6px;
  }

  .mobile-gallery-text {
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
  }

  .mobile-gallery-p {
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
    width: 292px;
  }

  .list-container {
    max-width: 320px;
  }

  .mobile-gallery-img {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
  }

  .mobile-gallery-p-img {
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 132px;
  }

  .mobile-gallery-btn {
    color: var(--white, #fff);
    color: var(--white, color(display-p3 1 1 1));
    font-family: "Neue Machina";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    width: 143px;
    padding: 12px 14.875px;
    justify-content: center;
    align-items: center;
    gap: 6.25px;
    border-radius: 1.25px;
    background: #ff8300;
    background: color(display-p3 0.9373 0.5412 0.1294);
    margin-top: -60px;
  }
}

/* SERVICES WE PROVIDE */

.services-we-provide-section {
  margin-top: 155px;
}

.services-we-provide {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-services-we-provide {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text-services-we-provide {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 557px;
}

.services-we-provide-list-svg-icon li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services-we-provide-svg-icon {
  fill: #ef8a21;
  margin-bottom: 50px;
}

.services-we-provide-list-svg-icon {
  display: flex;
  justify-content: center;
  gap: 256px;
  position: relative;
  align-items: center;
  text-align: center;
}

.title-text-services-we-provide {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  color: color(display-p3 0 0 0);
  text-align: center;
  font-family: Inter;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-list-svg-icon {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 32.138px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 25px;
}

.text-list-svg-icon {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.list-text-svg-icon {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.title-list-svg-icon {
  display: flex;
  justify-content: center;
}

.buttons-services-we-provide {
  margin-top: 50px;
  display: flex;
  gap: 60px;
}

.line-services-we-provide {
  margin-top: 85px;
  width: 1720px;
  width: 100%;
  height: 1px;
  background: #d9d9d9;
  background: color(display-p3 0.851 0.851 0.851);
}

.button-services-we-provide-get {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.button-services-we-provide-contact {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  border: 1px solid #ff8300;
  border: 1px solid color(display-p3 0.9373 0.5412 0.1294);
}

@media screen and (min-width: 1600px) and (max-width: 1720px) {
  .line-services-we-provide {
    width: 1600px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .services-we-provide-list-svg-icon {
    gap: 130px;
  }
  .line-services-we-provide {
    width: 1239px;
    height: 1px;
    flex-shrink: 0;
  }
  .button-services-we-provide-get {
    padding: 10px 45px;
  }
  .button-services-we-provide-contact {
    padding: 10px 45px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .title-services-we-provide {
    font-size: 32.5px;
    margin-bottom: 12px;
  }
  .text-services-we-provide {
    font-size: 12.5px;
  }
  .title-list-svg-icon {
    font-size: 20px;
  }
  .text-list-svg-icon {
    font-size: 12.5px;
  }
  .installation-list-text-svg-icon {
    margin-right: 60px;
  }
  .line-services-we-provide {
    width: 1075px;
  }
  .button-services-we-provide-get,
  .button-services-we-provide-contact {
    font-size: 15.625px;
    padding: 6.25px 34.375px;
  }
  .services-we-provide-svg-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .services-we-provide-section {
    margin-top: 86px;
    display: flex;
  }
  .services-we-provide {
    justify-content: start;
    align-items: start;
  }
  .title-text-services-we-provide {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 60px;
  }
  .title-services-we-provide {
    width: 257px;
    font-size: 40px;
    text-align: left;
  }
  .text-services-we-provide {
    width: 188px;
    font-size: 12px;
    text-align: left;
    margin-top: -40px;
    margin-left: 180px;
  }
  .services-we-provide-list-svg-icon {
    flex-direction: column;
    gap: 60px;
  }
  .text-list-svg-icon {
    margin-left: 0;
  }
  .title-list-svg-icon {
    font-size: 32px;
  }
  .text-list-svg-icon {
    font-size: 16px;
  }
  .line-services-we-provide {
    margin-top: 34px;
  }
  .buttons-services-we-provide {
    gap: 14px;
    margin-top: 34px;
  }
  .button-services-we-provide-get {
    font-size: 15px;
    width: 173px;
    padding: 10px 12px;
  }
  .button-services-we-provide-contact {
    font-size: 15px;
    width: 173px;
    padding: 10px 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .services-we-provide-section {
    margin-top: 56px;
    display: flex;
  }
  .services-we-provide {
    justify-content: start;
    align-items: start;
  }
  .title-text-services-we-provide {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 40px;
  }
  .title-services-we-provide {
    width: 250px;
    font-size: 30px;
    text-align: left;
  }
  .text-services-we-provide {
    width: 180px;
    font-size: 12px;
    text-align: left;
    margin-top: -30px;
    margin-left: 126px;
  }
  .services-we-provide-list-svg-icon {
    flex-direction: column;
    gap: 60px;
  }
  .list-svg-icon {
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-list-svg-icon {
    margin-left: 0;
  }
  .title-list-svg-icon {
    font-size: 26px;
  }
  .text-list-svg-icon {
    font-size: 14px;
  }
  .list-text-svg-icon {
    gap: 8px;
  }
  .line-services-we-provide {
    margin-top: 34px;
    width: 100%;
  }
  .buttons-services-we-provide {
    margin: 0 auto;
    gap: 14px;
    margin-top: 34px;
  }
  .button-services-we-provide-get {
    font-size: 12px;
    padding: 8px 12px;
  }
  .button-services-we-provide-contact {
    font-size: 12px;
    padding: 8px 12px;
  }
}

/* OUR GOAL */

.section-our-goal {
  margin-top: 150px;
  width: 100%;
  height: 210px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title-our-goal {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: "Neue Machina";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text-our-goal {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .section-our-goal {
    height: 130px;
    margin-top: 100px;
  }
  .title-our-goal {
    font-size: 30px;
  }
  .text-our-goal {
    font-size: 12.5px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .section-our-goal {
    margin-top: 80px;
  }
  .title-our-goal {
    font-size: 40px;
  }
  .text-our-goal {
    font-size: 14px;
    width: 361px;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .section-our-goal {
    margin-top: 80px;
  }
  .title-our-goal {
    font-size: 32px;
  }
  .text-our-goal {
    font-size: 14px;
    width: 290px;
  }
}

/* WHY WOULD YOU CHOOSE US */

.why-would-you-choose-us-section {
  margin-top: 105px;
  display: flex;
}

.why-would-you-choose-us {
  margin: 0 auto;
}

.title-text-why-would-you-choose-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.title-why-would-you-choose-us {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
}

.text-why-would-you-choose-us {
  width: 760.375px;
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.title-text-team-photo {
  display: flex;
  align-items: center;
  gap: 800px;
}

.team-photo-why-would-you-choose-us {
  width: 150px;
  height: 86px;
  flex-shrink: 0;
  background: #d9d9d9;
  background: color(display-p3 0.851 0.851 0.851);
}

.team-photo-list {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}

.list-team-photo-bottom {
  margin-left: -165px;
  margin-top: 15px;
}

.line-why-would-you-choose-us {
  margin-top: 95px;
  width: 1720px;
  height: 1px;
  flex-shrink: 0;
  background: #d9d9d9;
  background: color(display-p3 0.851 0.851 0.851);
}

.svg-icon-circle-arrow-up-solid {
  fill: #ef8a21;
}

.list-why-would-you-choose-us {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 200px;
}

.list-svg-why-would-you-choose-us {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 18px;
}

.title-list-svg-why-would-you-choose-us {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 32.138px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.list-svg-why-would-you-choose-us-arrow {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.list-why-would-you-choose-us-title {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.text-list-why-would-you-choose-us {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 1600px) and (max-width: 1720px) {
  .line-why-would-you-choose-us {
    width: 1600px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .title-text-team-photo {
    gap: 270px;
  }
  .line-why-would-you-choose-us {
    width: 1240px;
  }
  .list-why-would-you-choose-us {
    gap: 140px;
  }
  .list-team-photo-bottom {
    margin-left: -100px;
  }
  .list-photo-team img {
    width: 186px;
    height: 86px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .line-why-would-you-choose-us {
    width: 1075px;
    height: 0.625px;
  }
  .title-why-would-you-choose-us {
    font-size: 32.5px;
    margin-top: 74px;
  }
  .text-why-would-you-choose-us,
  .text-list-why-would-you-choose-us {
    font-size: 12.5px;
  }
  .svg-icon-circle-arrow-up-solid {
    width: 33px;
    height: 33px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .why-would-you-choose-us-section {
    margin-top: 100px;
  }
  .why-would-you-choose-us {
    padding: 0 16px;
  }
  .title-why-would-you-choose-us {
    font-size: 40px;
    width: 361px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1;
  }
  .list-why-would-you-choose-us {
    flex-direction: column;
    margin-top: 50px;
    gap: 60px;
  }
  .text-why-would-you-choose-us {
    font-size: 14px;
    width: 361px;
  }

  .line-why-would-you-choose-us {
    width: 100%;
    margin-top: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .why-would-you-choose-us-section {
    margin-top: 50px;
  }
  .why-would-you-choose-us {
    padding: 0 8px;
  }
  .title-why-would-you-choose-us {
    font-size: 32px;
    width: 290px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1;
  }
  .text-why-would-you-choose-us {
    max-width: 290px;
    font-size: 12px;
  }
  .text-why-would-you-choose-us,
  .text-list-why-would-you-choose-us {
    font-size: 15.5px;
  }
  .list-why-would-you-choose-us {
    flex-direction: column;
    margin-top: 30px;
    gap: 50px;
  }
  .text-why-would-you-choose-us {
    font-size: 14px;
    width: 361px;
  }

  .line-why-would-you-choose-us {
    width: 100%;
    width: 304px;
    margin-top: 56px;
  }
}

/* LOOKING FOR A QUALITY RESULT */

.looking-for-a-quality-result-section {
  background: url("../../../assets/image/ernys-unsplash.png"),
    lightgray 100% / cover no-repeat;
  height: 400px;
  padding: 0 100px;
  flex-shrink: 0;
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}

.looking-for-a-quality-result {
  display: flex;
  flex-direction: column;
}

.text-looking-for-a-quality-result {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  max-width: 1100px;
}

.looking-for-a-quality-result-btn {
  margin-top: 165px;
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.title-looking-for-a-quality-result {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 116px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .text-looking-for-a-quality-result {
    width: 900px;
  }
  .looking-for-a-quality-result-btn {
    display: inline-flex;
    padding: 7.5px 41.25px;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    border-radius: 1.5px;
    background: #ff8300;
    background: color(display-p3 0.9373 0.5412 0.1294);
    color: var(--white, #fff);
    color: var(--white, color(display-p3 1 1 1));
    font-family: Inter;
    font-size: 18.75px;
    font-style: normal;
    font-weight: 800;
    line-height: 37.5px; /* 200% */
    text-transform: capitalize;
    margin-top: 210px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .looking-for-a-quality-result-section {
    height: 250px;
    width: 100%;
    background: url("../../../assets/image/ernys-unsplash.png") 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-looking-for-a-quality-result {
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  .text-looking-for-a-quality-result {
    font-size: 12.5px;
    width: 742.5px;
  }
  .looking-for-a-quality-result-btn {
    margin-top: 40px;
    padding: 6.25px 34.375px;
    font-size: 15.625px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .looking-for-a-quality-result-section {
    background: url("../../../assets/image/mobile-who-choose-yanbuild.png") 100% /
      cover;
    height: 719px;
    flex-direction: column;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .title-looking-for-a-quality-result {
    font-size: 40px;
    padding-top: 30px;
  }
  .text-looking-for-a-quality-result {
    font-size: 14px;
    width: 362px;
  }
  .looking-for-a-quality-result-btn {
    margin-bottom: 65px;
    font-size: 15px;
    padding: 10px 55px;
  }
  .looking-for-a-quality-result-btn-div {
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .looking-for-a-quality-result-section {
    background: url("../../../assets/image/mobile-who-choose-yanbuild.png") 100% /
      cover;
    height: 519px;
    flex-direction: column;
    padding: 0 8px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .title-looking-for-a-quality-result {
    font-size: 36px;
    padding-top: 30px;
  }
  .text-looking-for-a-quality-result {
    font-size: 14px;
    width: 100%;
  }
  .looking-for-a-quality-result-btn {
    margin-bottom: 65px;
    font-size: 15px;
    padding: 10px 55px;
  }
  .looking-for-a-quality-result-btn-div {
    margin: 0 auto;
  }
}

/* LET’S WORK TOGETHER */

.let’s-work-together-section {
  margin: 150px 100px;
}

.let’s-work-together-info {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 62px;
}

.let’s-work-together-container {
  display: flex;
}

.let’s-work-together-title {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 25px;
}

.let’s-work-together-text {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  width: 782px;
  width: 100%;
  margin-bottom: 50px;
}

.line-let’s-work-together {
  max-width: 1720px;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: #d9d9d9;
  background: color(display-p3 0.851 0.851 0.851);
  margin-top: 34px;
}

.let’s-work-together-button {
  width: 184px;
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: "Neue Machina";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: inline-flex;
  padding: var(--25, 10px) 35px;
  justify-content: center;
  align-items: center;
  gap: var(--25, 10px);
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.let’s-work-together-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.let’s-work-together-icon {
  fill: #fff;
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: Inter;
  font-size: 18.75px;
  font-style: normal;
  font-weight: 800;
  line-height: 37.5px; /* 200% */
  text-transform: capitalize;
  display: inline-flex;
  padding: 7.5px 41.25px;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
  border-radius: 1.5px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .let’s-work-together-text {
    font-size: 15px;
    width: 100%;
    margin-bottom: 30px;
  }
  .let’s-work-together-img {
    width: 654px;
    height: 345.75px;
  }
  .let’s-work-together-info {
    margin-top: 10px;
  }
  .line-let’s-work-together {
    width: 1290px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .let’s-work-together-section {
    padding: 100px 60px;
    margin: 0;
  }
  .let’s-work-together-img {
    width: 545px;
    height: 288.125px;
    flex-shrink: 0;
  }
  .let’s-work-together-info {
    margin-top: 20px;
  }
  .let’s-work-together-title {
    font-size: 38px;
    margin-bottom: 24px;
  }
  .let’s-work-together-text {
    font-size: 12.5px;
    margin-bottom: 24px;
  }
  .line-let’s-work-together {
    width: 1075px;
    margin: 0 auto;
    margin-top: 24px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .let’s-work-together-section {
    padding: 0 16px;
    margin: 0;
    margin-top: 80px;
  }
  .let’s-work-together-container {
    flex-direction: column;
  }
  .let’s-work-together-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .let’s-work-together-img {
    width: 361px;
    height: 191px;
    flex-shrink: 0;
  }
  .let’s-work-together-info {
    margin: 0 auto;
  }
  .let’s-work-together-title {
    font-size: 40px;
    text-align: center;
  }
  .let’s-work-together-text {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 0;
  }
  .let’s-work-together-button {
    margin-top: 86px;
    width: 100%;
    padding: 15px 10px;
  }
  .let’s-work-together-icon {
    border-radius: 2px;
    background: #000;
    background: color(display-p3 0 0 0);
    width: 100%;
    padding: 15px 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .let’s-work-together-section {
    padding: 0 8px;
    margin: 0;
    margin-top: 60px;
  }
  .let’s-work-together-container {
    flex-direction: column;
  }
  .let’s-work-together-img {
    width: 100%;
    flex-shrink: 0;
  }
  .let’s-work-together-info {
    margin: 0 auto;
  }
  .let’s-work-together-title {
    font-size: 40px;
    margin-top: 12px;
    text-align: center;
  }
  .let’s-work-together-text {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 0;
  }
  .let’s-work-together-button {
    margin-top: 36px;
    width: 100%;
    padding: 15px 10px;
  }
  .let’s-work-together-icon {
    border-radius: 2px;
    background: #000;
    background: color(display-p3 0 0 0);
    width: 100%;
    padding: 15px 10px;
    margin-top: -16px;
  }
}

/* REQUEST A FREE ESTIMATE QUOTE TODAY */

.request-a-free-quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  width: 100%;
  height: 416px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.request-a-free-quote {
  margin: 66px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-request-a-free-quote {
  color: #000;
  color: color(display-p3 0 0 0);
  font-family: "Neue Machina";
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 15px;
}

.text-request-a-free-quote {
  color: #000;
  color: color(display-p3 0 0 0);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1430px;
  margin-bottom: 55px;
}

.buttons-request-a-free-quote {
  display: flex;
  gap: 50px;
}

.button-request-a-free-quote {
  color: var(--white, #fff);
  color: var(--white, color(display-p3 1 1 1));
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 200% */
  text-transform: capitalize;
  display: flex;
  width: 267px;
  padding: 10px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #000;
  background: color(display-p3 0 0 0);
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .request-a-free-quote-section {
    height: 260px;
  }
  .request-a-free-quote-section {
    margin-top: 0;
  }
  .title-request-a-free-quote {
    font-size: 32.5px;
  }
  .text-request-a-free-quote {
    font-size: 12.5px;
    width: 893.75px;
    margin-bottom: 34px;
  }
  .button-request-a-free-quote {
    font-size: 15.625px;
    padding: 6.25px 34.375px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .request-a-free-quote-section {
    height: 674px;
    margin-top: 80px;
  }
  .request-a-free-quote {
    margin-top: 0;
    padding: 0 16px;
  }
  .title-request-a-free-quote {
    font-size: 40px;
    width: 361px;
    text-align: center;
    margin-top: 26px;
  }
  .text-request-a-free-quote {
    width: 361px;
    font-size: 20px;
    margin-bottom: 0;
  }
  .buttons-request-a-free-quote {
    gap: 16px;
    margin-top: 170px;
  }
  .button-request-a-free-quote {
    color: var(--white, #fff);

    color: var(--white, color(display-p3 1 1 1));

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px; /* 333.333% */
    text-transform: capitalize;
    display: flex;
    width: 172px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .request-a-free-quote-section {
    height: 430px;
    margin-top: 50px;
  }
  .request-a-free-quote {
    margin-top: 14px;
    padding: 0 8px;
  }
  .title-request-a-free-quote {
    font-size: 32px;
    width: 100%;
    margin-top: 24px;
    text-align: center;
  }
  .text-request-a-free-quote {
    width: 100%;
    width: 304px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .buttons-request-a-free-quote {
    gap: 16px;
    margin-top: 40px;
  }
  .button-request-a-free-quote {
    color: var(--white, #fff);
    color: var(--white, color(display-p3 1 1 1));
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    text-transform: capitalize;
    display: flex;
    width: 132px;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

/* FOOTER */

.footer-section {
  display: flex;
  justify-content: center;
  height: 549px;
  flex-shrink: 0;
  background: #000;
  background: color(display-p3 0 0 0);
}

.footer {
  margin-top: 100px;
}

.main-list-footer {
  display: flex;
  justify-content: center;
  color: #fff;
}

.footer-svg-icon-list-number-phone-email {
  margin-right: 240px;
}

.footer-phone {
  font-weight: 600;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  line-height: 150%; /* 24px */
  margin: 10px 0;
}

.info-footer-svg-icon {
  margin-bottom: 4px;
}

.footer-navigation-list {
  display: flex;
  flex-direction: column;
  margin-right: 170px;
  gap: 5px;
}

.footer-title-navigation {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 15px;
}

.footer-info-navigation-title {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-btn-info-navigation-title {
  margin-top: 10px;
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: "Neue Machina";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: inline-flex;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.footer-list-our-services {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 300px;
}

.footer-title-list-our-services {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}

.footer-project-gallery-list-inst-yan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  fill: #fff;
  color: #fff;
  gap: 14px;
}

.bold-project-gallery-list-yan-name {
  font-style: italic;
  font-weight: 900;
}

.footer-list-greater {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-block-text-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 160px;
}

.footer-info-text-revy {
  margin: 0 auto;
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-info-button-revy {
  display: flex;
  padding: 25px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 999px;
  background: #ff8300;
  background: color(display-p3 0.9373 0.5412 0.1294);
}

.footer-email {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-style: normal;
  font-size: 12.375px;
  font-weight: normal;
  line-height: normal;
}

.footer-phone {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Inter;
  font-style: normal;
  font-size: 12.375px;
  font-weight: 900;
  line-height: normal;
}

.mobile-btn-footer {
  display: none;
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .main-list-footer {
    display: flex;
    justify-content: center;
  }
  .footer-svg-icon-list-number-phone-email {
    margin-right: 152px;
  }
  .footer-navigation-list {
    margin-right: 136px;
  }
  .footer-list-our-services {
    margin-right: 120px;
  }
  .footer-info-button-revy {
    margin-right: 100px;
    margin-left: 30px;
  }
  .footer-info-text-revy {
    margin-right: 334px;
    margin-left: 540px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .footer-svg-icon-list-number-phone-email {
    margin-right: 140px;
  }
  .footer-navigation-list {
    margin-right: 130px;
  }
  .footer-list-our-services {
    margin-right: 70px;
  }
  .footer-info-text-revy {
    margin-left: 420px;
    margin-right: 0;
  }
  .footer-info-button-revy {
    margin-left: 280px;
  }
  .footer-svg-icon-list-number-phone-email {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .footer-project-gallery-list-yan {
    fill: #fff;
  }
  .footer-project-gallery-list-inst-yan {
    color: #fff;
  }
  .footer-info-button-revy {
    padding: 14px 18px;
  }
}

@media screen and (min-width: 393px) and (max-width: 799px) {
  .footer-section {
    height: 710px;
  }
  .footer {
    margin: 0 auto;
    padding: 0 16px;
  }
  .main-list-footer {
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-title-navigation {
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .footer-info-button-revy {
    display: none;
  }
  .footer-svg-icon-list-number-phone-email,
  .footer-navigation-list,
  .footer-list-our-services {
    margin-right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .footer-title-list-our-services {
    margin-top: 34px;
  }
  .footer-project-gallery-list-inst-yan {
    margin-top: 34px;
    margin-bottom: 0;
  }
  .footer-btn-info-navigation-title {
    display: none;
  }
  .footer-block-text-button {
    margin-top: 0px;
  }
  .footer-info-text-revy {
    font-size: 12px;
    margin-top: 20px;
  }
  .mobile-btn-footer {
    color: var(--white, #fff);
    color: var(--white, color(display-p3 1 1 1));
    font-family: "Neue Machina";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    width: 361px;
    padding: 16px 21.875px;
    justify-content: center;
    align-items: center;
    gap: 6.25px;
    border-radius: 1.25px;
    background: #ff8300;
    background: color(display-p3 0.9373 0.5412 0.1294);
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 392px) {
  .footer-section {
    height: 650px;
  }
  .footer {
    margin: 0 auto;
    padding: 0 8px;
  }
  .main-list-footer {
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-title-navigation {
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .footer-info-button-revy {
    display: none;
  }
  .footer-svg-icon-list-number-phone-email,
  .footer-navigation-list,
  .footer-list-our-services {
    margin-right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .footer-title-list-our-services {
    margin-top: 34px;
  }
  .footer-project-gallery-list-inst-yan {
    margin-top: 24px;
    margin-bottom: 0;
  }
  .footer-btn-info-navigation-title {
    display: none;
  }
  .footer-block-text-button {
    margin-top: 0px;
  }
  .footer-info-text-revy {
    font-size: 10px;
    margin-top: 20px;
  }
  .mobile-btn-footer {
    color: var(--white, #fff);
    color: var(--white, color(display-p3 1 1 1));
    font-family: "Neue Machina";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    width: 300px;
    padding: 16px 21.875px;
    justify-content: center;
    align-items: center;
    gap: 6.25px;
    border-radius: 1.25px;
    background: #ff8300;
    background: color(display-p3 0.9373 0.5412 0.1294);
    margin-top: 20px;
  }
}

/* MODAL WINDOW */

.modal {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #000;
  width: 100%;
  height: 100%;
  transition: right 0.8s ease;
}

.modal.is-open {
  right: 0;
}

.modal-container {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-left: 24px;
}

.list-modal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;
}

.list-modal-link {
  font-size: 36px;
  list-style: none;
  text-decoration: none;
}

.modal-item-link {
  color: #fff;
  font-family: "Neue Machina";
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.modal-btn-close {
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  margin-left: 84%;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}
