<div class="header-hero-container">
  <div>
    <!-- HEADER -->
    <header class="header" id="header">
      <div class="container header-item">
        <img
          class="header-svg-icon"
          src="../../../assets/logo-yanbild.png"
          alt=""
        />
        <!-- NAV -->
        <nav class="nav-item">
          <ul class="list">
            <li class="list-item"><a class="link-item" href="#">Home</a></li>
            <li class="list-item">
              <a class="link-item" href="#">Projects</a>
            </li>
            <li class="list-item">
              <a class="link-item" href="#">Gallery</a>
            </li>
            <li class="list-item">
              <a class="link-item" href="#">Services</a>
            </li>
            <li class="list-item">
              <a class="link-item" href="#">Why Us</a>
            </li>
            <li class="list-item">
              <a class="link-item" href="#">Write a Review</a>
            </li>
            <li class="list-item">
              <button class="btn-header">Get a Quote</button>
            </li>
          </ul>
        </nav>
        <!-- ADDRESS -->
        <address class="address">
          <ul class="list-address">
            <li class="list-address-link">
              <svg width="20" height="20">
                <use
                  href="../../../assets/svg/icon.svg#icon-oclock-header"
                ></use>
              </svg>
              <a class="address-link" href="#">Mon - Fri: 8AM - 5PM </a>
            </li>
            <li class="list-address-link">
              <svg width="20" height="20">
                <use
                  href="../../../assets/svg/icon.svg#icon-phone-header"
                ></use>
              </svg>
              <a class="address-link address-link-phone" href="tel:+13607027163"
                >+ 1360 702 7163</a
              >
            </li>
          </ul>
          <button class="btn-address">Contact Us</button>
        </address>
        <div (click)="openMenu()" class="burger-menu">
          <svg width="40" height="40">
            <use href="../../../assets/svg/icon.svg#icon-burger-menu"></use>
          </svg>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-container" style="height: 100%;">
    <!-- HERO -->
    <section class="hero">
      <div class="section-hero">
        <p class="hero-text">
          We are the best specialists in <br />
          our field. You will become our <br />
          friends
        </p>
        <button class="btn-hero">Get a quote</button>
      </div>
    </section>
  </div>
  <div>
    <div class="footer-hero">
      <ul class="list-hero">
        <li class="hero-list-item">
          <div class="svg-hero">
            <svg class="svg-hero-house" width="20px" height="20px">
              <use href="../../../assets/svg/icon.svg#icon-house-svg"></use>
            </svg>
          </div>
          <div class="text-svg-icon">
            <p class="num-svg-icon-item">4</p>
            <p class="text-svg">girth and completion of 4 houses per month</p>
          </div>
        </li>
        <li class="hero-list-item">
          <div class="svg-hero">
            <svg class="svg-hero-check" width="20px" height="20px">
              <use href="../../../assets/svg/icon.svg#icon-check-svg"></use>
            </svg>
          </div>
          <div class="text-svg-icon">
            <p class="num-svg-icon-item">5</p>
            <p class="text-svg">BIG COMMERCIAL PROJECTS SIGNED</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- MAIN -->
<main>
  <!-- PROJECT GALLERY -->
  <section class="project-gallery-section">
    <div class="project-section">
      <ul class="project-gallery-list-inst-yan">
        <a
          class="footer-project-gallery-list-inst-yan"
          href="https://www.instagram.com/yanbuild/"
          target="_blank"
        >
          <li class="project-gallery-list-follow">Follow Us</li>
          <li>
            <svg class="gallery-icon-svg" width="20px" height="20px">
              <use href="../../../assets/svg/icon.svg#icon-inst-yan"></use>
            </svg>
          </li>
          <li class="project-gallery-list-yan-name">
            <span class="bold-footer-project-gallery-list-yan-name"
              >yanbuild</span
            >
          </li>
        </a>
      </ul>
      <div class="container project-gallery">
        <div class="gallery-item-text">
          <div class="block-text-gallery">
            <h2 class="gallery-item">Projects Gallery</h2>

            <p class="text-gallery">
              We share our skills and apply them
              <br />
              successfully
            </p>
            <p class="gallery-text">
              Hello, the YanBuild company can make your home much better and
              more beautiful than it was before. We believe that even the most
              inconspicuous corner of your room should look perfect. To achieve
              this, we use the latest technologies and follow modern trends.
            </p>
          </div>
          <div>
            <ul class="list-gallery-top">
              <li><img src="../../../assets/gallery/gallery8.png" alt="" /></li>
              <li>
                <img src="../../../assets/gallery/gallery11.png" alt="" />
              </li>
              <li>
                <img src="../../../assets/gallery/gallery12.png" alt="" />
              </li>
            </ul>
          </div>
        </div>
        <div>
          <ul class="list-gallery-item">
            <li><img src="../../../assets/gallery/gallery5.png" alt="" /></li>
            <li><img src="../../../assets/gallery/gallery9.png" alt="" /></li>
            <li><img src="../../../assets/gallery/gallery13.png" alt="" /></li>
          </ul>
        </div>
        <div>
          <ul class="gallery-img">
            <li><img src="../../../assets/gallery/gallery1.png" alt="" /></li>
            <li><img src="../../../assets/gallery/gallery3.png" alt="" /></li>
            <li><img src="../../../assets/gallery/gallery6.png" alt="" /></li>
          </ul>
        </div>
        <div class="gallery-text-image-button">
          <div class="gallery-text-button">
            <div>
              <ul class="gallery-image-bottom">
                <li>
                  <img src="../../../assets/gallery/gallery2.png" alt="" />
                </li>
                <li>
                  <img src="../../../assets/gallery/gallery4.png" alt="" />
                </li>
                <li>
                  <img src="../../../assets/gallery/gallery7.png" alt="" />
                </li>
                <li>
                  <img src="../../../assets/gallery/gallery10.png" alt="" />
                </li>
              </ul>
            </div>
          </div>
          <div>
            <p class="gallery-text-bottom">
              Using our accumulated experience in the field of laying ceramic
              tiles, porcelain stoneware, natural stone, installing wooden
              floors and floor coverings, we will be able to bring the most
              interesting design solutions into reality. The company's
              specialists will help you select and combine facing materials for
              your premises. The YanBuild company guarantees you a good mood
              after working with our specialists.
            </p>
            <button class="button-gallery-text">Get a quote</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- GALLERY-MOBILE -->
  <section *ngIf="isMobile" class="section-mobile-gallery" id="gallery">
    <div class="mobile-gallery">
      <div>
        <ul class="mobile-project-gallery-list-inst-yan">
          <a
            class="footer-project-gallery-list-inst-yan"
            href="https://www.instagram.com/yanbuild/"
            target="_blank"
          >
            <li class="project-gallery-list-follow">Follow Us</li>
            <li>
              <svg class="gallery-icon-svg" width="20px" height="20px">
                <use href="../../../assets/svg/icon.svg#icon-inst-yan"></use>
              </svg>
            </li>
            <li class="project-gallery-list-yan-name">
              <span class="bold-footer-project-gallery-list-yan-name"
                >yanbuild</span
              >
            </li>
          </a>
        </ul>
        <div>
          <h2 class="mobile-gallery-title">Projects Gallery</h2>
          <p class="mobile-gallery-text">
            We share our skills and apply them successfully
          </p>
          <p class="mobile-gallery-p">
            Hello, the YanBuild company can make your home much better and more
            beautiful than it was before. We believe that even the most
            inconspicuous corner of your room should look perfect. To achieve
            this, we use the latest technologies and follow modern trends.
          </p>
        </div>
      </div>
      <div class="list-container">
        <ul class="mobile-gallery-img">
          <li>
            <img
              src="../../../assets/gallery/gallery1.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery2.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery3.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery4.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery5.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery6.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery7.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery8.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery9.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery10.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery11.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              src="../../../assets/gallery/gallery12.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <img
              class="mobile-img-last"
              src="../../../assets/gallery/gallery13.png"
              alt=""
              width="173px"
              height="173px"
            />
          </li>
          <li>
            <p class="mobile-gallery-p-img">
              Using our accumulated experience in the field of laying ceramic
              tiles, porcelain stoneware, natural stone, installing wooden
              floors and floor coverings, we will be able to bring the most
              interesting design solutions into reality. The company's
              specialists will help you select and combine facing materials for
              your premises. The YanBuild company guarantees you a good mood
              after working with our specialists.
            </p>
          </li>
          <li><button class="mobile-gallery-btn">Get a Quote</button></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- SERVICES WE PROVIDE -->
  <section class="services-we-provide-section" id="services">
    <div class="services-we-provide">
      <div>
        <div class="title-text-services-we-provide">
          <h2 class="title-services-we-provide">Services we Provide</h2>
          <p class="text-services-we-provide">
            The variety of services will help you find the best approach to the
            repair and to your needs.
          </p>
        </div>
        <div class="services-we-provide-list-item">
          <ul class="services-we-provide-list-svg-icon">
            <li>
              <div class="list-svg-icon">
                <svg
                  class="services-we-provide-svg-icon"
                  width="60"
                  height="54"
                >
                  <use
                    href="../../../assets/svg/icon.svg#icon-layer-group-icon"
                  ></use>
                </svg>
                <p class="title-list-svg-icon">Installation</p>
                <ul class="list-text-svg-icon installation-list-text-svg-icon">
                  <li class="text-list-svg-icon">
                    • Commercial tile installation
                  </li>
                  <li class="text-list-svg-icon">
                    • Residential tile installation
                  </li>
                  <li class="text-list-svg-icon">
                    • Installation of ceramic tiles
                  </li>
                  <li class="text-list-svg-icon">• Installation of Lamnate</li>
                  <li class="text-list-svg-icon">
                    • Installation of engineering board
                  </li>
                  <li class="text-list-svg-icon">• Harwood installation</li>
                  <li class="text-list-svg-icon">• Lvp installation</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="list-svg-icon">
                <svg
                  class="services-we-provide-svg-icon"
                  width="54"
                  height="54"
                >
                  <use
                    href="../../../assets/svg/icon.svg#icon-diamond-solid"
                  ></use>
                </svg>
                <p class="title-list-svg-icon">Special Skills</p>
                <ul class="list-text-svg-icon">
                  <li class="text-list-svg-icon">• Bullnose installation</li>
                  <li class="text-list-svg-icon">• Schluter installation</li>
                  <li class="text-list-svg-icon">
                    • Installation of heated floors
                  </li>
                  <li class="text-list-svg-icon">
                    • Installation of decorative tiles
                  </li>
                  <li class="text-list-svg-icon">
                    • Installation of granite niches and thresholds
                  </li>
                  <li class="text-list-svg-icon">• Limestone</li>
                  <li class="text-list-svg-icon">
                    • Installation of wooden steps and thresholds
                  </li>
                  <li class="text-list-svg-icon">• Thresholds</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="line-services-we-provide"></div>
      <div class="buttons-services-we-provide">
        <button class="button-services-we-provide-get">
          Get Your Free Quote
        </button>
        <button class="button-services-we-provide-contact">
          Contact Exprerts
        </button>
      </div>
    </div>
  </section>
  <!-- OUR GOAL -->
  <section class="section-our-goal">
    <div class="our-goal">
      <h2 class="title-our-goal">Our Goal</h2>
      <p class="text-our-goal">
        To Exceed Our Clients' Expectations and Provide Them with Results That
        Turn Their Dreams into Reality.
      </p>
    </div>
  </section>
  <!-- WHY WOULD YOU CHOOSE US -->
  <!-- <section class="why-would-you-choose-us-section" id="why-would-you-choose-us">
    <div class="why-would-you-choose-us">
      <div class="title-text-team-photo">
        <div class="title-text-why-would-you-choose-us">
          <h2 class="title-why-would-you-choose-us">Why would you choose us</h2>
          <p class="text-why-would-you-choose-us">
            Why Can You Choose Us? Working with us, you are freed from stress
            and worry when choosing materials and solving complex technical
            components. YanBuild company communicates well with its clients at
            all stages of construction work from the selection of materials to
            the completion of the project.
          </p>
        </div>
      </div>
      <div class="line-why-would-you-choose-us"></div>
      <div>
        <ul class="list-why-would-you-choose-us">
          <li class="list-svg-why-would-you-choose-us-arrow">
            <div class="list-svg-why-would-you-choose-us">
              <svg
                width="54px"
                height="54px"
                class="svg-icon-circle-arrow-up-solid"
              >
                <use
                  href="../../../assets/svg/icon.svg#icon-circle-arrow-up-solid"
                ></use>
              </svg>
            </div>
            <ul class="list-why-would-you-choose-us-title">
              <li class="text-list-why-would-you-choose-us">
                • Residential tile installation
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Installation of engineering board
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Lvp installation
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Harwood installation
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Installation of ceramic tiles
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Installation of porcelain tiles
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Under Board Installation
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Installation of lamnate
              </li>
            </ul>
          </li>
          <li class="list-svg-why-would-you-choose-us-arrow">
            <div class="list-svg-why-would-you-choose-us">
              <svg
                width="54px"
                height="54px"
                class="svg-icon-circle-arrow-up-solid"
              >
                <use
                  href="../../../assets/svg/icon.svg#icon-circle-arrow-up-solid"
                ></use>
              </svg>
            </div>
            <ul class="list-why-would-you-choose-us-title">
              <li class="text-list-why-would-you-choose-us">
                • Parquet installation
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Harwood installation
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Installation of vinyl flooring
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Installation of engineering board
              </li>
              <li class="text-list-why-would-you-choose-us">
                • Installation of rubber coating
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section> -->
  <!-- LOOKING FOR A QUALITY RESULT -->
  <section class="looking-for-a-quality-result-section">
    <div class="looking-for-a-quality-result">
      <h2 class="title-looking-for-a-quality-result">Who Choose YanBuild?</h2>
      <p class="text-looking-for-a-quality-result">
        YanBuild caters to discerning clients who prioritize professionalism and
        excellence in their home remodeling projects. Our services are tailored
        for those seeking a seamless renovation experience and aspire to elevate
        their homes to new heights of sophistication and quality.
      </p>
    </div>
    <div class="looking-for-a-quality-result-btn-div">
      <button class="looking-for-a-quality-result-btn">START MY PROJECT</button>
    </div>
  </section>
  <!-- LET’S WORK TOGETHER -->
  <section class="let’s-work-together-section" id="reviews">
    <div class="let’s-work-together">
      <div class="let’s-work-together-container">
        <div class="let’s-work-together-img-div">
          <img
            class="let’s-work-together-img"
            src="../../../assets/image/yau-team.png"
            alt=""
          />
        </div>
        <div class="let’s-work-together-info">
          <h2 class="let’s-work-together-title">Let’s Work Together!</h2>
          <p class="let’s-work-together-text">
            The company YanBuild specializes in providing a wide range of
            remodeling and reconstruction services. Our company takes pride in
            its professionalism and experience, which allows us to provide our
            clients with high-quality and reliable services.
            <br />
            We offer a full range of repair and construction works, starting
            from consultations and design to the final completion of all
            necessary tasks. Whether you need cosmetic repairs or a complete
            reconstruction, our team is ready to bring your ideas and wishes to
            life.
          </p>
          <button class="let’s-work-together-button">View Services</button>
        </div>
      </div>
      <div class="line-let’s-work-together"></div>
      <div class="let’s-work-together-btn">
        <button class="let’s-work-together-icon">
          <svg width="28px" height="28px">
            <use href="../../../assets/svg/icon.svg#icon-google"></use>
          </svg>
          Write a Review
        </button>
      </div>
    </div>
  </section>
  <!-- REQUEST A FREE ESTIMATE QUOTE TODAY -->
  <section class="request-a-free-quote-section">
    <div class="request-a-free-quote">
      <h2 class="title-request-a-free-quote">
        Request a FREE estimate quote today
      </h2>
      <p class="text-request-a-free-quote">
        If you're ready to elevate your home with YanBuild's professional
        remodeling services, don't hesitate to request your free estimate today.
        Simply fill out your information on our website or contact us directly,
        and our team will be delighted to assist you in bringing your vision to
        life.
      </p>
      <div class="buttons-request-a-free-quote">
        <button class="button-request-a-free-quote">Get a quote</button>
        <button class="button-request-a-free-quote">Contact Us</button>
      </div>
    </div>
  </section>
</main>
<!-- FOOTER -->
<footer class="footer-section">
  <div class="footer">
    <ul class="main-list-footer">
      <li>
        <ul class="footer-svg-icon-list-number-phone-email">
          <svg class="footer-svg-icon" width="86" height="70">
            <use href="../../../assets/svg/icon.svg#icon-logo"></use>
          </svg>
          <li class="info-footer-svg-icon">- title</li>
          <li class="info-footer-svg-icon">- hardwood</li>
          <li class="info-footer-svg-icon">- laminate</li>
          <li class="info-footer-svg-icon">- remodel</li>
          <p>
            <a class="footer-phone" href="tel:+13607027163">+1360 702 7163</a>
          </p>
          <p>
            <a class="footer-email" href="mailto:yanbuildinc@outlook.com"
              >yanbuildinc@outlook.com</a
            >
          </p>
        </ul>
      </li>
      <li>
        <ul class="footer-navigation-list">
          <h3 class="footer-title-navigation">Navigation</h3>
          <li class="footer-info-navigation-title">Our Projects</li>
          <li class="footer-info-navigation-title">Projects Library</li>
          <li class="footer-info-navigation-title">Services We Provide</li>
          <li class="footer-info-navigation-title">Why Choose Us</li>
          <li class="footer-info-navigation-title">Reviews</li>
          <button class="footer-btn-info-navigation-title">Get a Quote</button>
        </ul>
      </li>
      <li>
        <ul class="footer-list-our-services">
          <h3 class="footer-title-list-our-services">YanBuild Serving</h3>
          <li class="footer-info-list-our-services">
            All of Denvers Metro area
          </li>
        </ul>
      </li>
      <li>
        <ul class="footer-project-gallery-list-inst-yan">
          <a
            class="footer-project-gallery-list-inst-yan"
            href="https://www.instagram.com/yanbuild/"
            target="_blank"
          >
            <li class="footer-project-gallery-list-follow">Follow Us</li>
            <li>
              <svg
                class="footer-project-gallery-list-yan"
                width="20px"
                height="20px"
              >
                <use href="../../../assets/svg/icon.svg#icon-inst-yan"></use>
              </svg>
            </li>
            <li class="footer-project-gallery-list-yan-name">
              <span class="bold-project-gallery-list-yan-name">yanbuild</span>
            </li>
          </a>
        </ul>
      </li>
    </ul>

    <button class="mobile-btn-footer">Get a Quote</button>

    <div class="footer-block-text-button">
      <p class="footer-info-text-revy">
        Copyright © 2008-2023 YanBuild, LLC. All Rights Reserved
      </p>
      <button class="footer-info-button-revy">
        <svg width="15px" height="20px">
          <use href="../../../assets/svg/icon.svg#icon-arrow-sown-solid"></use>
        </svg>
      </button>
    </div>
  </div>
</footer>
<!-- MODAL WINDOW -->
<div class="modal" [ngClass]="{ 'is-open': isOpen }">
  <div class="modal-container">
    <div>
      <button class="modal-btn-close" (click)="openMenu()">X</button>
    </div>
    <nav class="nav-modal">
      <ul class="list-modal">
        <li class="list-modal-link">
          <a
            class="modal-item-link"
            href="#header"
            (click)="closeMenu('header')"
            >Home</a
          >
        </li>
        <li class="list-modal-link">
          <a
            class="modal-item-link"
            href="#gallery"
            (click)="closeMenu('gallery')"
            >Projects</a
          >
        </li>
        <li class="list-modal-link">
          <a
            class="modal-item-link"
            href="#gallery"
            (click)="closeMenu('gallery')"
            >Gallery</a
          >
        </li>
        <li class="list-modal-link">
          <a
            class="modal-item-link"
            href="#services"
            (click)="closeMenu('services')"
            >Services</a
          >
        </li>
        <li class="list-modal-link">
          <a
            class="modal-item-link"
            href="#why-would-you-choose-us"
            (click)="closeMenu('why-would-you-choose-us')"
            >Why Us</a
          >
        </li>
        <li class="list-modal-link">
          <a
            class="modal-item-link"
            href="#reviews"
            (click)="closeMenu('reviews')"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
